{
  "openapi": "3.0.1",
  "info": {
    "title": "CSQAQ Data OpenAPI (Merged)",
    "version": "1.0.0",
    "description": "Merged from docs.csqaq.com/api-*.md pages."
  },
  "servers": [
    {
      "url": "https://api.csqaq.com",
      "description": "Official environment"
    }
  ],
  "paths": {
    "/api/v1/sys/bind_local_ip": {
      "post": {
        "summary": "绑定本机白名单IP",
        "deprecated": false,
        "description": "🥇 为当前请求的API_TOKEN绑定本机的IP地址，适用于非固定IP场景下使用\n\n:::tip[]\n频率限制：30秒/次\n:::",
        "tags": [
          "接口详情/绑定本机白名单IP"
        ],
        "parameters": [
          {
            "name": "ApiToken",
            "in": "header",
            "description": "用户请求令牌（请自行申请）",
            "required": true,
            "example": "{{APITOKEN}}",
            "schema": {
              "type": "string",
              "default": "{{APITOKEN}}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "msg": {
                      "type": "string"
                    },
                    "data": {
                      "type": "string",
                      "title": "绑定状态信息"
                    }
                  },
                  "required": [
                    "code",
                    "msg",
                    "data"
                  ],
                  "x-apifox-orders": [
                    "code",
                    "msg",
                    "data"
                  ]
                },
                "examples": {
                  "1": {
                    "summary": "成功示例",
                    "value": {
                      "code": 200,
                      "msg": "Success",
                      "data": "绑定IP更新成功，当前绑定IP为：102.114.14.120"
                    }
                  },
                  "2": {
                    "summary": "异常示例",
                    "value": {
                      "code": 429,
                      "msg": "Success",
                      "data": "请求频率过快，绑定IP频率限制为30s"
                    }
                  }
                }
              }
            },
            "headers": {},
            "x-apifox-name": "成功"
          }
        },
        "security": [],
        "x-apifox-folder": "接口详情/绑定本机白名单IP",
        "x-apifox-status": "released",
        "x-run-in-apifox": "https://app.apifox.com/web/project/4711104/apis/api-342090738-run",
        "x-source-doc": "api-342090738"
      }
    },
    "/api/v1/current_data": {
      "get": {
        "summary": "获取首页相关数据",
        "deprecated": false,
        "description": "🥇 获取本站 [CSQAQ-首页](https://csqaq.com/home) 记录的饰品指数信息，包括指数数据、涨跌分布、在线人数数据、今日指数走势等\n<TipGood>提示：该接口不需要ApiToken的验证</TipGood>\n",
        "operationId": "______________api_v1_current_data_get",
        "tags": [
          "接口详情/饰品指数",
          "api"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "饰品指数数据类型",
            "required": true,
            "example": "init",
            "schema": {
              "type": "string",
              "title": "Type",
              "enum": [
                "init",
                "hours",
                "kline",
                "lease"
              ],
              "x-apifox-enum": [
                {
                  "name": "",
                  "value": "init",
                  "description": "日线数据"
                },
                {
                  "name": "",
                  "value": "hours",
                  "description": "时线数据"
                },
                {
                  "name": "",
                  "value": "kline",
                  "description": "k线数据"
                },
                {
                  "name": "",
                  "value": "lease",
                  "description": "租赁数据"
                }
              ]
            }
          },
          {
            "name": "ApiToken",
            "in": "header",
            "description": "用户请求令牌（请自行申请）",
            "required": true,
            "example": "{{APITOKEN}}",
            "schema": {
              "type": "string",
              "default": "{{APITOKEN}}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "title": "响应状态码"
                    },
                    "msg": {
                      "type": "string",
                      "title": "响应信息"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "sub_index_data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "title": "指数id"
                              },
                              "name": {
                                "type": "string",
                                "title": "指数名称"
                              },
                              "name_key": {
                                "type": "string",
                                "title": "指数key"
                              },
                              "img": {
                                "type": "string",
                                "title": "指数图片url"
                              },
                              "market_index": {
                                "type": "number",
                                "title": "当前饰品指数"
                              },
                              "chg_num": {
                                "type": "number",
                                "title": "指数今日变动"
                              },
                              "chg_rate": {
                                "type": "number",
                                "title": "指数今日变动率"
                              },
                              "open": {
                                "type": "number",
                                "title": "今日指数开盘值"
                              },
                              "close": {
                                "type": "number",
                                "title": "今日指数收盘值"
                              },
                              "high": {
                                "type": "number",
                                "title": "今日指数最高值"
                              },
                              "low": {
                                "type": "number",
                                "title": "今日指数最低值"
                              },
                              "updated_at": {
                                "type": "string",
                                "title": "更新时间"
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "name_key",
                              "img",
                              "market_index",
                              "chg_num",
                              "chg_rate",
                              "open",
                              "close",
                              "low",
                              "updated_at"
                            ],
                            "x-apifox-orders": [
                              "id",
                              "name",
                              "name_key",
                              "img",
                              "market_index",
                              "chg_num",
                              "chg_rate",
                              "open",
                              "close",
                              "high",
                              "low",
                              "updated_at"
                            ],
                            "x-apifox-ignore-properties": []
                          },
                          "title": "饰品指数数据"
                        },
                        "chg_type_data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "total_price": {
                                "type": "number",
                                "title": "饰品总市值"
                              },
                              "name": {
                                "type": "string",
                                "title": "类型名称"
                              },
                              "price_diff_1": {
                                "type": "number",
                                "title": "近1日涨跌幅"
                              },
                              "price_diff_7": {
                                "type": "number",
                                "title": " 近7日涨跌幅"
                              },
                              "price_diff_15": {
                                "type": "number",
                                "title": "近15日涨跌幅"
                              },
                              "price_diff_30": {
                                "type": "number",
                                "title": "近30日涨跌幅"
                              },
                              "price_diff_90": {
                                "type": "number",
                                "title": "近90日涨跌幅"
                              },
                              "price_diff_180": {
                                "type": "number",
                                "title": "近180日涨跌幅"
                              },
                              "icon_url": {
                                "type": "string",
                                "title": "饰品icon地址"
                              },
                              "type": {
                                "type": "string",
                                "title": "所属大类",
                                "description": "['印花', '其他', '步枪', '微型冲锋枪', '匕首', '探员', '手套', '手枪']"
                              }
                            },
                            "required": [
                              "total_price",
                              "name",
                              "price_diff_1",
                              "price_diff_7",
                              "price_diff_15",
                              "price_diff_30",
                              "price_diff_90",
                              "price_diff_180",
                              "icon_url",
                              "type"
                            ],
                            "x-apifox-orders": [
                              "total_price",
                              "name",
                              "price_diff_1",
                              "price_diff_7",
                              "price_diff_15",
                              "price_diff_30",
                              "price_diff_90",
                              "price_diff_180",
                              "icon_url",
                              "type"
                            ],
                            "x-apifox-ignore-properties": []
                          },
                          "title": "饰品类型-涨跌分布"
                        },
                        "chg_price_data": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "xKey": {
                                "type": "string",
                                "title": "价格类型",
                                "description": "['大件', '小件', '中小件', '中件', '中大件']"
                              },
                              "total_price": {
                                "type": "number",
                                "title": "饰品总市值"
                              },
                              "price_diff_1": {
                                "type": "number",
                                "title": "近1日涨跌幅"
                              },
                              "price_diff_7": {
                                "type": "number",
                                "title": "近7日涨跌幅"
                              },
                              "price_diff_15": {
                                "type": "number",
                                "title": "近15日涨跌幅"
                              },
                              "price_diff_30": {
                                "type": "number",
                                "title": "近30日涨跌幅"
                              },
                              "price_diff_90": {
                                "type": "number",
                                "title": "近90日涨跌幅"
                              },
                              "price_diff_180": {
                                "type": "number",
                                "title": "近180日涨跌幅"
                              }
                            },
                            "required": [
                              "xKey",
                              "total_price",
                              "price_diff_1",
                              "price_diff_7",
                              "price_diff_15",
                              "price_diff_30",
                              "price_diff_90",
                              "price_diff_180"
                            ],
                            "x-apifox-orders": [
                              "xKey",
                              "total_price",
                              "price_diff_1",
                              "price_diff_7",
                              "price_diff_15",
                              "price_diff_30",
                              "price_diff_90",
                              "price_diff_180"
                            ],
                            "x-apifox-ignore-properties": []
                          },
                          "title": "价格区间-涨跌分布"
                        },
                        "rate_data": {
                          "type": "object",
                          "properties": {
                            "count_zero_1": {
                              "type": "integer",
                              "title": "近1日持平数"
                            },
                            "count_negative_1": {
                              "type": "integer",
                              "title": "近1日下跌数"
                            },
                            "count_positive_1": {
                              "type": "integer",
                              "title": "近1日上涨数"
                            },
                            "count_zero_7": {
                              "type": "integer",
                              "title": "近7日持平数"
                            },
                            "count_negative_7": {
                              "type": "integer",
                              "title": "近1日下跌数"
                            },
                            "count_positive_7": {
                              "type": "integer",
                              "title": "近7日上涨数"
                            },
                            "count_zero_15": {
                              "type": "integer",
                              "title": "近15日持平数"
                            },
                            "count_negative_15": {
                              "type": "integer",
                              "title": "近15日下跌数"
                            },
                            "count_positive_15": {
                              "type": "integer",
                              "title": "近15日上涨数"
                            },
                            "count_zero_30": {
                              "type": "integer",
                              "title": "近30日持平数"
                            },
                            "count_negative_30": {
                              "type": "integer",
                              "title": "近30日下跌数"
                            },
                            "count_positive_30": {
                              "type": "integer",
                              "title": "近30日上涨数"
                            },
                            "count_zero_90": {
                              "type": "integer",
                              "title": "近90日持平数"
                            },
                            "count_negative_90": {
                              "type": "integer",
                              "title": "近90日下跌数"
                            },
                            "count_positive_90": {
                              "type": "integer",
                              "title": "近90日上涨数"
                            },
                            "count_zero_180": {
                              "type": "integer",
                              "title": "近180日持平数"
                            },
                            "count_negative_180": {
                              "type": "integer",
                              "title": "近180日下跌数"
                            },
                            "count_positive_180": {
                              "type": "integer",
                              "title": "近180日上涨数"
                            }
                          },
                          "required": [
                            "count_zero_1",
                            "count_negative_1",
                            "count_positive_1",
                            "count_zero_7",
                            "count_negative_7",
                            "count_positive_7",
                            "count_zero_15",
                            "count_negative_15",
                            "count_positive_15",
                            "count_zero_30",
                            "count_negative_30",
                            "count_positive_30",
                            "count_zero_90",
                            "count_negative_90",
                            "count_positive_90",
                            "count_zero_180",
                            "count_negative_180",
                            "count_positive_180"
                          ],
                          "x-apifox-orders": [
                            "count_zero_1",
                            "count_negative_1",
                            "count_positive_1",
                            "count_zero_7",
                            "count_negative_7",
                            "count_positive_7",
                            "count_zero_15",
                            "count_negative_15",
                            "count_positive_15",
                            "count_zero_30",
                            "count_negative_30",
                            "count_positive_30",
                            "count_zero_90",
                            "count_negative_90",
                            "count_positive_90",
                            "count_zero_180",
                            "count_negative_180",
                            "count_positive_180"
                          ],
                          "title": "涨跌分布数量 时间段内上涨/下跌/持平的饰品数量",
                          "description": "时间段内上涨/下跌/持平的饰品数量",
                          "x-apifox-ignore-properties": []
                        },
                        "online_number": {
                          "type": "object",
                          "properties": {
                            "current_number": {
                              "type": "integer",
                              "title": "当前在线人数"
                            },
                            "today_peak": {
                              "type": "integer",
                              "title": "今日峰值人数"
                            },
                            "month_peak": {
                              "type": "integer",
                              "title": "本月峰值人数"
                            },
                            "month_player": {
                              "type": "integer",
                              "title": "全球月活玩家"
                            },
                            "same_month_player": {
                              "type": "integer",
                              "title": "上月全球月活玩家"
                            },
                            "same_time_number": {
                              "type": "integer",
                              "title": "昨日同时段在线人数"
                            },
                            "rate": {
                              "type": "number",
                              "title": "今日人数涨跌幅"
                            },
                            "same_time_number_week": {
                              "type": "integer",
                              "title": "上周同时段在线人数"
                            },
                            "rate_week": {
                              "type": "number",
                              "title": "本周人数涨跌幅"
                            },
                            "created_at": {
                              "type": "string",
                              "title": "数据更新时间"
                            }
                          },
                          "required": [
                            "current_number",
                            "today_peak",
                            "month_peak",
                            "month_player",
                            "same_month_player",
                            "same_time_number",
                            "rate",
                            "same_time_number_week",
                            "rate_week",
                            "created_at"
                          ],
                          "x-apifox-orders": [
                            "current_number",
                            "today_peak",
                            "month_peak",
                            "month_player",
                            "same_month_player",
                            "same_time_number",
                            "rate",
                            "same_time_number_week",
                            "rate_week",
                            "created_at"
                          ],
                          "title": "在线人数数据",
                          "x-apifox-ignore-properties": []
                        },
                        "online_chart": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "m": {
                                "type": "integer",
                                "title": "每日峰值人数"
                              },
                              "d": {
                                "type": "string",
                                "title": "时间",
                                "description": "格式：yyyy-MM-dd HH:mm:ss"
                              }
                            },
                            "required": [
                              "m",
                              "d"
                            ],
                            "x-apifox-orders": [
                              "m",
                              "d"
                            ],
                            "x-apifox-ignore-properties": []
                          },
                          "title": "在线人数图表数据",
                          "description": "近三个月每日峰值人数(不含今天)"
                        },
                        "greedy": {
                          "type": "array",
                          "items": {
                            "type": "array",
                            "items": {
                              "oneOf": [
                                {
                                  "type": "string",
                                  "description": "日期"
                                },
                                {
                                  "type": "number",
                                  "description": "情绪值"
                                }
                              ]
                            }
                          },
                          "title": "市场情绪监测值"
                        },
                        "greedy_status": {
                          "type": "object",
                          "properties": {
                            "level": {
                              "type": "string",
                              "title": "情绪等级",
                              "enum": [
                                "low",
                                "medium",
                                "high"
                              ],
                              "x-apifox-enum": [
                                {
                                  "value": "low",
                                  "name": "低迷",
                                  "description": ""
                                },
                                {
                                  "value": "medium",
                                  "name": "中等",
                                  "description": ""
                                },
                                {
                                  "value": "high",
                                  "name": "活跃",
                                  "description": ""
                                }
                              ]
                            },
                            "label": {
                              "type": "string",
                              "title": "情绪等级中文"
                            }
                          },
                          "x-apifox-orders": [
                            "level",
                            "label"
                          ],
                          "required": [
                            "level",
                            "label"
                          ],
                          "x-apifox-ignore-properties": []
                        },
                        "alteration": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "good_id": {
                                "type": "integer",
                                "title": "饰品good_id"
                              },
                              "img": {
                                "type": "string",
                                "title": "饰品图片"
                              },
                              "name": {
                                "type": "string",
                                "title": "饰品名称"
                              },
                              "yyyp_sell_price": {
                                "type": "number",
                                "title": "悠悠有品在售价"
                              },
                              "buff_id": {
                                "type": "integer",
                                "title": "buff饰品id"
                              },
                              "yyyp_id": {
                                "type": "integer",
                                "title": "悠悠有品饰品id"
                              },
                              "monitor_key": {
                                "type": "string",
                                "title": "异动关键指标",
                                "description": "buff_sell_price 在售底价\nbuff_sell_num 在售数量\nbuff_buy_num 求购数量\nyyyp_sell_price 在售底价\nyyyp_sell_num 在售数量\nyyyp_buy_num 求购数量"
                              },
                              "origin": {
                                "type": "integer",
                                "title": "变动前数据"
                              },
                              "target": {
                                "type": "integer",
                                "title": "变动后数据"
                              },
                              "difference": {
                                "type": "integer",
                                "title": "变动前后差值"
                              },
                              "origin_sell_price": {
                                "type": "number",
                                "title": "变动前在售价格"
                              },
                              "origin_sell_num": {
                                "type": "integer",
                                "title": "变动前在售数量"
                              },
                              "origin_buy_price": {
                                "type": "number",
                                "title": "变动前求购价格"
                              },
                              "origin_buy_num": {
                                "type": "integer",
                                "title": "变动前求购数量"
                              },
                              "target_sell_price": {
                                "type": "number",
                                "title": "变动后在售价格"
                              },
                              "target_sell_num": {
                                "type": "integer",
                                "title": "变动后在售数量"
                              },
                              "target_buy_price": {
                                "type": "number",
                                "title": "变动后在求购数量"
                              },
                              "target_buy_num": {
                                "type": "integer",
                                "title": "变动后求购数量"
                              },
                              "created_at": {
                                "type": "string",
                                "title": "异动创建时间"
                              }
                            },
                            "required": [
                              "good_id",
                              "img",
                              "name",
                              "yyyp_sell_price",
                              "buff_id",
                              "yyyp_id",
                              "monitor_key",
                              "origin",
                              "target",
                              "difference",
                              "origin_sell_price",
                              "origin_sell_num",
                              "origin_buy_price",
                              "origin_buy_num",
                              "target_sell_price",
                              "target_sell_num",
                              "target_buy_price",
                              "target_buy_num",
                              "created_at"
                            ],
                            "x-apifox-orders": [
                              "good_id",
                              "img",
                              "name",
                              "yyyp_sell_price",
                              "buff_id",
                              "yyyp_id",
                              "monitor_key",
                              "origin",
                              "target",
                              "difference",
                              "origin_sell_price",
                              "origin_sell_num",
                              "origin_buy_price",
                              "origin_buy_num",
                              "target_sell_price",
                              "target_sell_num",
                              "target_buy_price",
                              "target_buy_num",
                              "created_at"
                            ],
                            "x-apifox-ignore-properties": []
                          },
                          "title": "饰品异动数据"
                        },
                        "view_count": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "title": "饰品good_id"
                              },
                              "name": {
                                "type": "string",
                                "title": "饰品名称"
                              },
                              "img": {
                                "type": "string",
                                "title": "饰品图片"
                              },
                              "rank_num": {
                                "type": "integer",
                                "title": "当前浏览量排行"
                              },
                              "rank_num_change": {
                                "type": "integer",
                                "title": "浏览量排行上涨排名"
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "img",
                              "rank_num",
                              "rank_num_change"
                            ],
                            "x-apifox-orders": [
                              "id",
                              "name",
                              "img",
                              "rank_num",
                              "rank_num_change"
                            ],
                            "x-apifox-ignore-properties": []
                          },
                          "title": "大家都在看"
                        },
                        "card_price": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "card_price": {
                                "type": "integer",
                                "title": "美金卡价格"
                              },
                              "created_at": {
                                "type": "string",
                                "title": "美金卡价格"
                              }
                            },
                            "required": [
                              "card_price",
                              "created_at"
                            ],
                            "x-apifox-orders": [
                              "card_price",
                              "created_at"
                            ],
                            "x-apifox-ignore-properties": []
                          },
                          "title": "美金卡数据"
                        }
                      },
                      "required": [
                        "sub_index_data",
                        "chg_type_data",
                        "chg_price_data",
                        "rate_data",
                        "online_number",
                        "online_chart",
                        "greedy",
                        "greedy_status",
                        "alteration",
                        "view_count",
                        "card_price"
                      ],
                      "x-apifox-orders": [
                        "sub_index_data",
                        "chg_type_data",
                        "chg_price_data",
                        "rate_data",
                        "online_number",
                        "online_chart",
                        "greedy",
                        "greedy_status",
                        "alteration",
                        "view_count",
                        "card_price"
                      ],
                      "title": "响应数据",
                      "x-apifox-ignore-properties": []
                    }
                  },
                  "required": [
                    "code",
                    "msg",
                    "data"
                  ],
                  "x-apifox-orders": [
                    "code",
                    "msg",
                    "data"
                  ],
                  "x-apifox-ignore-properties": []
                }
              }
            },
            "headers": {},
            "x-apifox-name": "成功"
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "headers": {},
            "x-apifox-name": "Validation Error"
          }
        },
        "security": [],
        "x-apifox-folder": "接口详情/饰品指数",
        "x-apifox-status": "released",
        "x-run-in-apifox": "https://app.apifox.com/web/project/4711104/apis/api-187131779-run",
        "x-source-doc": "api-187131779"
      }
    },
    "/api/v1/sub_data": {
      "get": {
        "summary": "获取指数详情数据",
        "deprecated": false,
        "description": "🥇 获取本站 [CSQAQ-首页](https://csqaq.com/home) 记录的指数数据  -> 包括今天涨跌数据、图表的数据\n\n子指数id（从[获取首页相关数据](https://docs.csqaq.com/api-187131779)接口中的sub_index_data中获取）\n\n![image.png](https://api.apifox.com/api/v1/projects/4711104/resources/475601/image-preview)",
        "tags": [
          "接口详情/饰品指数"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "子指数id（从sub_index_data中获取）",
            "required": false,
            "example": "1",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "数据类型（日线、时线）",
            "required": false,
            "example": "daily",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "hours"
              ],
              "x-apifox-enum": [
                {
                  "value": "daily",
                  "name": "日线",
                  "description": ""
                },
                {
                  "value": "hours",
                  "name": "小时线",
                  "description": ""
                }
              ]
            }
          },
          {
            "name": "ApiToken",
            "in": "header",
            "description": "用户请求令牌（请自行申请）",
            "required": true,
            "example": "{{APITOKEN}}",
            "schema": {
              "type": "string",
              "default": "{{APITOKEN}}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "msg": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "timestamp": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          },
                          "title": "时间戳"
                        },
                        "count": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "title": "指数名称"
                            },
                            "img": {
                              "type": "string",
                              "title": "指数图片"
                            },
                            "now": {
                              "type": "number",
                              "title": "当前饰品指数"
                            },
                            "amplitude": {
                              "type": "number",
                              "title": "指数今日变动"
                            },
                            "rate": {
                              "type": "number",
                              "title": "指数今日变动率"
                            },
                            "max_value": {
                              "type": "integer",
                              "title": "指数今日最高值"
                            },
                            "min_value": {
                              "type": "number",
                              "title": "指数今日最低值"
                            },
                            "consecutive_days": {
                              "type": "integer",
                              "title": "连涨/跌天数：正=涨，负=跌"
                            }
                          },
                          "required": [
                            "name",
                            "img",
                            "now",
                            "amplitude",
                            "rate",
                            "max_value",
                            "min_value",
                            "consecutive_days"
                          ],
                          "x-apifox-orders": [
                            "name",
                            "img",
                            "now",
                            "amplitude",
                            "rate",
                            "max_value",
                            "min_value",
                            "consecutive_days"
                          ],
                          "title": "指数数据"
                        },
                        "main_data": {
                          "type": "array",
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "title": "图表数据列表",
                          "description": "init、hours 选项\n数据格式：[饰品指数值，涨跌幅，涨跌幅比率]\n\nkline选项\n数据格式：[忽略，开盘指数，收盘指数，最高，最低]"
                        },
                        "hourly_list": {
                          "type": "array",
                          "items": {
                            "type": "number"
                          },
                          "title": "今日指数走势",
                          "description": "记录时间0点-24点"
                        }
                      },
                      "required": [
                        "timestamp",
                        "count",
                        "main_data",
                        "hourly_list"
                      ],
                      "x-apifox-orders": [
                        "timestamp",
                        "count",
                        "main_data",
                        "hourly_list"
                      ]
                    }
                  },
                  "required": [
                    "code",
                    "msg",
                    "data"
                  ],
                  "x-apifox-orders": [
                    "code",
                    "msg",
                    "data"
                  ]
                }
              }
            },
            "headers": {},
            "x-apifox-name": "成功"
          }
        },
        "security": [],
        "x-apifox-folder": "接口详情/饰品指数",
        "x-apifox-status": "released",
        "x-run-in-apifox": "https://app.apifox.com/web/project/4711104/apis/api-230764015-run",
        "x-source-doc": "api-230764015"
      }
    },
    "/api/v1/sub/kline": {
      "get": {
        "summary": "获取指数K线图",
        "deprecated": false,
        "description": "🥇 获取本站 [CSQAQ-首页](https://csqaq.com/home) 记录的指数K线图数据 \n\n子指数id（从[获取首页相关数据](https://docs.csqaq.com/api-187131779)接口中的sub_index_data中获取）\n\n![image.png](https://api.apifox.com/api/v1/projects/4711104/resources/508249/image-preview)",
        "tags": [
          "接口详情/饰品指数"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "子指数id（从sub_index_data中获取）",
            "required": false,
            "example": "1",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "数据周期（1小时、4小时、日线、周线）",
            "required": false,
            "example": "1day",
            "schema": {
              "type": "string",
              "enum": [
                "1hour",
                "4hour",
                "1day",
                "7day"
              ],
              "x-apifox-enum": [
                {
                  "value": "1hour",
                  "name": "1小时线",
                  "description": ""
                },
                {
                  "value": "4hour",
                  "name": "4小时线",
                  "description": ""
                },
                {
                  "value": "1day",
                  "name": "日线",
                  "description": ""
                },
                {
                  "value": "7day",
                  "name": "周线",
                  "description": ""
                }
              ],
              "default": "1day"
            }
          },
          {
            "name": "ApiToken",
            "in": "header",
            "description": "用户请求令牌（请自行申请）",
            "required": true,
            "example": "{{APITOKEN}}",
            "schema": {
              "type": "string",
              "default": "{{APITOKEN}}"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "msg": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "t": {
                            "type": "string",
                            "title": "时间戳"
                          },
                          "o": {
                            "type": "number",
                            "title": "开盘价"
                          },
                          "c": {
                            "type": "number",
                            "title": "收盘价"
                          },
                          "h": {
                            "type": "number",
                            "title": "最高价"
                          },
                          "l": {
                            "type": "number",
                            "title": "最低价"
                          },
                          "v": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "t",
                          "o",
                          "c",
                          "h",
                          "l",
                          "v"
                        ],
                        "x-apifox-orders": [
                          "t",
                          "o",
                          "c",
                          "h",
                          "l",
                          "v"
                        ]
                      }
                    }
                  },
                  "required": [
                    "code",
                    "msg",
                    "data"
                  ],
                  "x-apifox-orders": [
                    "code",
                    "msg",
                    "data"
                  ]
                },
                "example": {
                  "code": 200,
                  "msg": "Success",
                  "data": [
                    {
                      "t": "1700150400000",
                      "o": 1402.74,
                      "c": 1385.55,
                      "h": 1402.74,
                      "l": 1385.55,
                      "v": 0
                    },
                    {
                      "t": "1700236800000",
                      "o": 1385.55,
                      "c": 1374.73,
                      "h": 1386.72,
                      "l": 1374.73,
                      "v": 0
                    },
                    {
                      "t": "1700323200000",
                      "o": 1374.73,
                      "c": 1370.56,
                      "h": 1377,
                      "l": 1369.76,
                      "v": 0
                    },
                    {
                      "t": "1700409600000",
                      "o": 1370.56,
                      "c": 1370.81,
                      "h": 1373.53,
                      "l": 1369.27,
                      "v": 0
                    },
                    {
                      "t": "1700496000000",
                      "o": 1370.81,
                      "c": 1373.98,
                      "h": 1374.2,
                      "l": 1370.81,
                      "v": 0
                    },
                    {
                      "t": "1700582400000",
                      "o": 1373.98,
                      "c": 1379.9,
                      "h": 1383.85,
                      "l": 1373.98,
                      "v": 0
                    },
                    {
                      "t": "1700668800000",
                      "o": 1379.9,
                      "c": 1381.2,
                      "h": 1384.75,
                      "l": 1379.65,
                      "v": 0
                    },
                    {
                      "t": "1700755200000",
                      "o": 1381.2,
                      "c": 1388.73,
                      "h": 1388.73,
                      "l": 1381.2,
                      "v": 0
                    },
                    {
                      "t": "1700841600000",
                      "o": 1388.73,
                      "c": 1419.67,
                      "h": 1419.67,
                      "l": 1388.73,
                      "v": 0
                    },
                    {
                      "t": "1700928000000",
                      "o": 1419.67,
                      "c": 1419.4,
                      "h": 1424.6,
                      "l": 1417.7,
                      "v": 0
                    },
                    {
                      "t": "1701014400000",
                      "o": 1419.4,
                      "c": 1437.88,
                      "h": 1437.88,
                      "l": 1419.4,
                      "v": 0
                    },
                    {
                      "t": "1701100800000",
                      "o": 1437.88,
                      "c": 1458.41,
                      "h": 1458.41,
                      "l": 1437.88,
                      "v": 0
                    },
                    {
                      "t": "1701187200000",
                      "o": 1458.41,
                      "c": 1468.15,
                      "h": 1474.67,
                      "l": 1458.41,
                      "v": 0
                    },
                    {
                      "t": "1701273600000",
                      "o": 1468.15,
                      "c": 1468.84,
                      "h": 1473.62,
                      "l": 1466.39,
                      "v": 0
                    },
                    {
                      "t": "1701360000000",
                      "o": 1468.84,
                      "c": 1467.1,
                      "h": 1474.87,
                      "l": 1465.81,
                      "v": 0
                    },
                    {
                      "t": "1701446400000",
                      "o": 1467.1,
                      "c": 1466.47,
                      "h": 1472.02,
                      "l": 1464.96,
                      "v": 0
                    },
                    {
                      "t": "1701532800000",
                      "o": 1466.47,
                      "c": 1478.25,
                      "h": 1478.25,
                      "l": 1465.34,
                      "v": 0
                    },
                    {
                      "t": "1701619200000",
                      "o": 1478.25,
                      "c": 1497.3,
                      "h": 1497.3,
                      "l": 1478.25,
                      "v": 0
                    },
                    {
                      "t": "1701705600000",
                      "o": 1497.3,
                      "c": 1506.58,
                      "h": 1507.23,
                      "l": 1497.3,
                      "v": 0
                    },
                    {
                      "t": "1701792000000",
                      "o": 1506.58,
                      "c": 1504.7,
                      "h": 1513.99,
                      "l": 1503.34,
                      "v": 0
                    },
                    {
                      "t": "1701878400000",
                      "o": 1504.7,
                      "c": 1502.28,
                      "h": 1508.28,
                      "l": 1498.42,
                      "v": 0
                    },
                    {
                      "t": "1701964800000",
                      "o": 1502.28,
                      "c": 1502.76,
                      "h": 1506.86,
                      "l": 1498.05,
                      "v": 0
                    },
                    {
                      "t": "1702051200000",
                      "o": 1502.76,
                      "c": 1503.61,
                      "h": 1509.24,
                      "l": 1502.76,
                      "v": 0
                    },
                    {
                      "t": "1702137600000",
                      "o": 1503.61,
                      "c": 1497.97,
                      "h": 1508.55,
                      "l": 1493.73,
                      "v": 0
                    },
                    {
                      "t": "1702224000000",
                      "o": 1497.97,
                      "c": 1480.72,
                      "h": 1498.97,
                      "l": 1480.43,
                      "v": 0
                    },
                    {
                      "t": "1702310400000",
                      "o": 1480.72,
                      "c": 1483.61,
                      "h": 1489.07,
                      "l": 1480.72,
                      "v": 0
                    },
                    {
                      "t": "1702396800000",
                      "o": 1483.61,
                      "c": 1482.88,
                      "h": 1488.94,
                      "l": 1482.88,
                      "v": 0
                    },
                    {
                      "t": "1702483200000",
                      "o": 1482.88,
                      "c": 1469.22,
                      "h": 1485.52,
                      "l": 1469.22,
                      "v": 0
                    },
                    {
                      "t": "1702569600000",
                      "o": 1469.22,
                      "c": 1460.52,
                      "h": 1470.79,
                      "l": 1459.29,
                      "v": 0
                    },
                    {
                      "t": "1702656000000",
                      "o": 1460.52,
                      "c": 1460.53,
                      "h": 1466.52,
                      "l": 1460.13,
                      "v": 0
                    },
                    {
                      "t": "1702742400000",
                      "o": 1460.53,
                      "c": 1459,
                      "h": 1464.14,
                      "l": 1457.76,
                      "v": 0
                    },
                    {
                      "t": "1702828800000",
                      "o": 1459,
                      "c": 1454.87,
                      "h": 1460.2,
                      "l": 1454.74,
                      "v": 0
                    },
                    {
                      "t": "1702915200000",
                      "o": 1454.87,
                      "c": 1451.82,
                      "h": 1457.88,
                      "l": 1451.82,
                      "v": 0
                    },
                    {
                      "t": "1703001600000",
                      "o": 1451.82,
                      "c": 1442.08,
                      "h": 1452.74,
                      "l": 1442.08,
                      "v": 0
                    },
                    {
                      "t": "1703088000000",
                      "o": 1442.08,
                      "c": 1445.54,
                      "h": 1447.13,
                      "l": 1442.08,
                      "v": 0
                    },
                    {
                      "t": "1703174400000",
                      "o": 1445.54,
                      "c": 1441.75,
                      "h": 1449.74,
                      "l": 1441.75,
                      "v": 0
                    },
                    {
                      "t": "1703260800000",
                      "o": 1441.75,
                      "c": 1434.49,
                      "h": 1442.08,
                      "l": 1434.18,
                      "v": 0
                    },
                    {
                      "t": "1703347200000",
                      "o": 1434.49,
                      "c": 1425.73,
                      "h": 1436.07,
                      "l": 1424.98,
                      "v": 0
                    },
                    {
                      "t": "1703433600000",
                      "o": 1425.73,
                      "c": 1421.73,
                      "h": 1428.83,
                      "l": 1421.43,
                      "v": 0
                    },
                    {
                      "t": "1703520000000",
                      "o": 1421.73,
                      "c": 1417.91,
                      "h": 1423.05,
                      "l": 1417.36,
                      "v": 0
                    },
                    {
                      "t": "1703606400000",
                      "o": 1417.91,
                      "c": 1415.28,
                      "h": 1420.93,
                      "l": 1415.15,
                      "v": 0
                    },
                    {
                      "t": "1703692800000",
                      "o": 1415.28,
                      "c": 1413.85,
                      "h": 1418.15,
                      "l": 1413.17,
                      "v": 0
                    },
                    {
                      "t": "1703779200000",
                      "o": 1413.85,
                      "c": 1418.44,
                      "h": 1420.18,
                      "l": 1413.85,
                      "v": 0
                    },
                    {
                      "t": "1703865600000",
                      "o": 1418.44,
                      "c": 1427.27,
                      "h": 1427.27,
                      "l": 1418.44,
                      "v": 0
                    },
                    {
                      "t": "1703952000000",
                      "o": 1427.27,
                      "c": 1431.31,
                      "h": 1434.82,
                      "l": 1427.27,
                      "v": 0
                    },
                    {
                      "t": "1704038400000",
                      "o": 1431.31,
                      "c": 1432.39,
                      "h": 1435.02,
                      "l": 1431.24,
                      "v": 0
                    },
                    {
                      "t": "1704124800000",
                      "o": 1432.39,
                      "c": 1434.55,
                      "h": 1436.63,
                      "l": 1432.39,
                      "v": 0
                    },
                    {
                      "t": "1704211200000",
                      "o": 1434.55,
                      "c": 1435.72,
                      "h": 1438.89,
                      "l": 1434.26,
                      "v": 0
                    },
                    {
                      "t": "1704297600000",
                      "o": 1435.72,
                      "c": 1437.57,
                      "h": 1440.1,
                      "l": 1435.72,
                      "v": 0
                    },
                    {
                      "t": "1704384000000",
                      "o": 1437.57,
                      "c": 1438.15,
                      "h": 1440.83,
                      "l": 1436.81,
                      "v": 0
                    },
                    {
                      "t": "1704470400000",
                      "o": 1438.15,
                      "c": 1438.68,
                      "h": 1442,
                      "l": 1437.68,
                      "v": 0
                    },
                    {
                      "t": "1704556800000",
                      "o": 1438.68,
                      "c": 1441.31,
                      "h": 1443.43,
                      "l": 1438.68,
                      "v": 0
                    },
                    {
                      "t": "1704643200000",
                      "o": 1441.31,
                      "c": 1444.09,
                      "h": 1445.43,
                      "l": 1441.31,
                      "v": 0
                    },
                    {
                      "t": "1704729600000",
                      "o": 1444.09,
                      "c": 1445.59,
                      "h": 1447.41,
                      "l": 1443.7,
                      "v": 0
                    },
                    {
                      "t": "1704816000000",
                      "o": 1445.59,
                      "c": 1445.19,
                      "h": 1447.99,
                      "l": 1442.81,
                      "v": 0
                    },
                    {
                      "t": "1704902400000",
                      "o": 1445.19,
                      "c": 1442.24,
                      "h": 1446.75,
                      "l": 1441.83,
                      "v": 0
                    },
                    {
                      "t": "1704988800000",
                      "o": 1442.24,
                      "c": 1440.88,
                      "h": 1444.69,
                      "l": 1440.14,
                      "v": 0
                    },
                    {
                      "t": "1705075200000",
                      "o": 1440.88,
                      "c": 1440.05,
                      "h": 1443.45,
                      "l": 1439.37,
                      "v": 0
                    },
                    {
                      "t": "1705161600000",
                      "o": 1440.05,
                      "c": 1435.89,
                      "h": 1441.12,
                      "l": 1435.83,
                      "v": 0
                    },
                    {
                      "t": "1705248000000",
                      "o": 1435.89,
                      "c": 1436.58,
                      "h": 1438.62,
                      "l": 1435.25,
                      "v": 0
                    },
                    {
                      "t": "1705334400000",
                      "o": 1436.58,
                      "c": 1437.89,
                      "h": 1440.11,
                      "l": 1436.22,
                      "v": 0
                    },
                    {
                      "t": "1705420800000",
                      "o": 1437.89,
                      "c": 1436.84,
                      "h": 1440.42,
                      "l": 1436.84,
                      "v": 0
                    },
                    {
                      "t": "1705507200000",
                      "o": 1436.84,
                      "c": 1434.08,
                      "h": 1437.62,
                      "l": 1433.66,
                      "v": 0
                    },
                    {
                      "t": "1705593600000",
                      "o": 1434.08,
                      "c": 1433.52,
                      "h": 1436.18,
                      "l": 1432.66,
                      "v": 0
                    },
                    {
                      "t": "1705680000000",
                      "o": 1433.52,
                      "c": 1432.43,
                      "h": 1435.74,
                      "l": 1432.01,
                      "v": 0
                    },
                    {
                      "t": "1705766400000",
                      "o": 1432.43,
                      "c": 1433.43,
                      "h": 1435.03,
                      "l": 1432.43,
                      "v": 0
                    },
                    {
                      "t": "1705852800000",
                      "o": 1433.43,
                      "c": 1432.77,
                      "h": 1436.41,
                      "l": 1432.54,
                      "v": 0
                    },
                    {
                      "t": "1705939200000",
                      "o": 1432.77,
                      "c": 1431.23,
                      "h": 1434.84,
                      "l": 1431.07,
                      "v": 0
                    },
                    {
                      "t": "1706025600000",
                      "o": 1431.23,
                      "c": 1428.67,
                      "h": 1432.68,
                      "l": 1428.5,
                      "v": 0
                    },
                    {
                      "t": "1706112000000",
                      "o": 1428.67,
                      "c": 1424.83,
                      "h": 1429.86,
                      "l": 1424.07,
                      "v": 0
                    },
                    {
                      "t": "1706198400000",
                      "o": 1424.83,
                      "c": 1419.71,
                      "h": 1424.9,
                      "l": 1419.71,
                      "v": 0
                    },
                    {
                      "t": "1706284800000",
                      "o": 1419.71,
                      "c": 1417.63,
                      "h": 1422.31,
                      "l": 1417.1,
                      "v": 0
                    },
                    {
                      "t": "1706371200000",
                      "o": 1417.63,
                      "c": 1417,
                      "h": 1419.23,
                      "l": 1416.38,
                      "v": 0
                    },
                    {
                      "t": "1706457600000",
                      "o": 1417,
                      "c": 1415.16,
                      "h": 1417.7,
                      "l": 1414.51,
                      "v": 0
                    },
                    {
                      "t": "1706544000000",
                      "o": 1415.16,
                      "c": 1413.92,
                      "h": 1433.52,
                      "l": 1413.45,
                      "v": 0
                    },
                    {
                      "t": "1706630400000",
                      "o": 1413.92,
                      "c": 1413.5,
                      "h": 1415.94,
                      "l": 1411.8,
                      "v": 0
                    },
                    {
                      "t": "1706716800000",
                      "o": 1413.5,
                      "c": 1412.18,
                      "h": 1415.98,
                      "l": 1411.49,
                      "v": 0
                    },
                    {
                      "t": "1706803200000",
                      "o": 1412.18,
                      "c": 1409.97,
                      "h": 1413.45,
                      "l": 1409.93,
                      "v": 0
                    },
                    {
                      "t": "1706889600000",
                      "o": 1409.97,
                      "c": 1410.95,
                      "h": 1411.39,
                      "l": 1408.8,
                      "v": 0
                    },
                    {
                      "t": "1706976000000",
                      "o": 1410.95,
                      "c": 1412.07,
                      "h": 1413.67,
                      "l": 1410.7,
                      "v": 0
                    },
                    {
                      "t": "1707062400000",
                      "o": 1412.07,
                      "c": 1416.19,
                      "h": 1416.19,
                      "l": 1412.07,
                      "v": 0
                    },
                    {
                      "t": "1707148800000",
                      "o": 1416.19,
                      "c": 1422.46,
                      "h": 1422.46,
                      "l": 1416.19,
                      "v": 0
                    },
                    {
                      "t": "1707235200000",
                      "o": 1422.46,
                      "c": 1434.3,
                      "h": 1434.3,
                      "l": 1422.46,
                      "v": 0
                    },
                    {
                      "t": "1707321600000",
                      "o": 1434.3,
                      "c": 1441.01,
                      "h": 1442.31,
                      "l": 1434.3,
                      "v": 0
                    },
                    {
                      "t": "1707408000000",
                      "o": 1441.01,
                      "c": 1451.46,
                      "h": 1451.46,
                      "l": 1441.01,
                      "v": 0
                    },
                    {
                      "t": "1707494400000",
                      "o": 1451.46,
                      "c": 1464.2,
                      "h": 1464.2,
                      "l": 1451.46,
                      "v": 0
                    },
                    {
                      "t": "1707580800000",
                      "o": 1464.2,
                      "c": 1472.32,
                      "h": 1472.79,
                      "l": 1464.2,
                      "v": 0
                    },
                    {
                      "t": "1707667200000",
                      "o": 1472.32,
                      "c": 1473.85,
                      "h": 1479.1,
                      "l": 1472.32,
                      "v": 0
                    },
                    {
                      "t": "1707753600000",
                      "o": 1473.85,
                      "c": 1475.55,
                      "h": 1480.79,
                      "l": 1473.85,
                      "v": 0
                    },
                    {
                      "t": "1707840000000",
                      "o": 1475.55,
                      "c": 1472.85,
                      "h": 1479.45,
                      "l": 1472.45,
                      "v": 0
                    },
                    {
                      "t": "1707926400000",
                      "o": 1472.85,
                      "c": 1473.78,
                      "h": 1475.97,
                      "l": 1471.6,
                      "v": 0
                    },
                    {
                      "t": "1708012800000",
                      "o": 1473.78,
                      "c": 1473.41,
                      "h": 1478.37,
                      "l": 1472.69,
                      "v": 0
                    },
                    {
                      "t": "1708099200000",
                      "o": 1473.41,
                      "c": 1479.12,
                      "h": 1480.58,
                      "l": 1473.41,
                      "v": 0
                    },
                    {
                      "t": "1708185600000",
                      "o": 1479.12,
                      "c": 1487.15,
                      "h": 1487.79,
                      "l": 1479.12,
                      "v": 0
                    },
                    {
                      "t": "1708272000000",
                      "o": 1487.15,
                      "c": 1498.66,
                      "h": 1498.66,
                      "l": 1487.15,
                      "v": 0
                    },
                    {
                      "t": "1708358400000",
                      "o": 1498.66,
                      "c": 1515.96,
                      "h": 1515.96,
                      "l": 1498.66,
                      "v": 0
                    },
                    {
                      "t": "1708444800000",
                      "o": 1515.96,
                      "c": 1525.78,
                      "h": 1528.68,
                      "l": 1515.96,
                      "v": 0
                    },
                    {
                      "t": "1708531200000",
                      "o": 1525.78,
                      "c": 1587.14,
                      "h": 1591.11,
                      "l": 1525.78,
                      "v": 0
                    },
                    {
                      "t": "1708617600000",
                      "o": 1587.14,
                      "c": 1591.07,
                      "h": 1598.19,
                      "l": 1584.54,
                      "v": 0
                    },
                    {
                      "t": "1708704000000",
                      "o": 1591.07,
                      "c": 1582.06,
                      "h": 1592.34,
                      "l": 1578.37,
                      "v": 0
                    },
                    {
                      "t": "1708790400000",
                      "o": 1582.06,
                      "c": 1583.04,
                      "h": 1589.21,
                      "l": 1581.51,
                      "v": 0
                    },
                    {
                      "t": "1708876800000",
                      "o": 1583.04,
                      "c": 1596.47,
                      "h": 1596.47,
                      "l": 1582.61,
                      "v": 0
                    },
                    {
                      "t": "1708963200000",
                      "o": 1596.47,
                      "c": 1637.46,
                      "h": 1637.46,
                      "l": 1596.47,
                      "v": 0
                    },
                    {
                      "t": "1709049600000",
                      "o": 1637.46,
                      "c": 1655.28,
                      "h": 1655.28,
                      "l": 1637.46,
                      "v": 0
                    },
                    {
                      "t": "1709136000000",
                      "o": 1655.28,
                      "c": 1641.53,
                      "h": 1659.33,
                      "l": 1641.53,
                      "v": 0
                    },
                    {
                      "t": "1709222400000",
                      "o": 1641.53,
                      "c": 1627.57,
                      "h": 1641.53,
                      "l": 1624.41,
                      "v": 0
                    },
                    {
                      "t": "1709308800000",
                      "o": 1627.57,
                      "c": 1638.89,
                      "h": 1639.77,
                      "l": 1627.57,
                      "v": 0
                    },
                    {
                      "t": "1709395200000",
                      "o": 1638.89,
                      "c": 1635.4,
                      "h": 1645.02,
                      "l": 1634.99,
                      "v": 0
                    },
                    {
                      "t": "1709481600000",
                      "o": 1635.4,
                      "c": 1628.13,
                      "h": 1641.75,
                      "l": 1628.13,
                      "v": 0
                    },
                    {
                      "t": "1709568000000",
                      "o": 1628.13,
                      "c": 1622.27,
                      "h": 1629.5,
                      "l": 1620.23,
                      "v": 0
                    },
                    {
                      "t": "1709654400000",
                      "o": 1622.27,
                      "c": 1605.44,
                      "h": 1632.47,
                      "l": 1604.32,
                      "v": 0
                    },
                    {
                      "t": "1709740800000",
                      "o": 1605.44,
                      "c": 1606.41,
                      "h": 1610.26,
                      "l": 1603.19,
                      "v": 0
                    },
                    {
                      "t": "1709827200000",
                      "o": 1606.41,
                      "c": 1617.37,
                      "h": 1631.67,
                      "l": 1606.41,
                      "v": 0
                    },
                    {
                      "t": "1709913600000",
                      "o": 1617.37,
                      "c": 1639.04,
                      "h": 1640.52,
                      "l": 1617.37,
                      "v": 0
                    },
                    {
                      "t": "1710000000000",
                      "o": 1639.04,
                      "c": 1641.47,
                      "h": 1648.89,
                      "l": 1639.04,
                      "v": 0
                    },
                    {
                      "t": "1710086400000",
                      "o": 1641.47,
                      "c": 1643.36,
                      "h": 1644.12,
                      "l": 1640.41,
                      "v": 0
                    },
                    {
                      "t": "1710172800000",
                      "o": 1643.36,
                      "c": 1638.75,
                      "h": 1646.51,
                      "l": 1635.76,
                      "v": 0
                    },
                    {
                      "t": "1710259200000",
                      "o": 1638.75,
                      "c": 1641.97,
                      "h": 1651.14,
                      "l": 1638.75,
                      "v": 0
                    },
                    {
                      "t": "1710345600000",
                      "o": 1641.97,
                      "c": 1650.38,
                      "h": 1650.38,
                      "l": 1641.97,
                      "v": 0
                    },
                    {
                      "t": "1710432000000",
                      "o": 1650.38,
                      "c": 1665.79,
                      "h": 1665.79,
                      "l": 1650.38,
                      "v": 0
                    },
                    {
                      "t": "1710518400000",
                      "o": 1665.79,
                      "c": 1668.55,
                      "h": 1669.17,
                      "l": 1660.27,
                      "v": 0
                    },
                    {
                      "t": "1710604800000",
                      "o": 1668.55,
                      "c": 1666.38,
                      "h": 1673.17,
                      "l": 1663.28,
                      "v": 0
                    },
                    {
                      "t": "1710691200000",
                      "o": 1666.38,
                      "c": 1665.7,
                      "h": 1672.03,
                      "l": 1663.67,
                      "v": 0
                    },
                    {
                      "t": "1710777600000",
                      "o": 1665.7,
                      "c": 1666.41,
                      "h": 1668.42,
                      "l": 1662.61,
                      "v": 0
                    },
                    {
                      "t": "1710864000000",
                      "o": 1666.41,
                      "c": 1664.06,
                      "h": 1668.42,
                      "l": 1662.02,
                      "v": 0
                    },
                    {
                      "t": "1710950400000",
                      "o": 1664.06,
                      "c": 1664.63,
                      "h": 1667.86,
                      "l": 1661.28,
                      "v": 0
                    },
                    {
                      "t": "1711036800000",
                      "o": 1664.63,
                      "c": 1658.74,
                      "h": 1667.24,
                      "l": 1655.12,
                      "v": 0
                    },
                    {
                      "t": "1711123200000",
                      "o": 1658.74,
                      "c": 1652.11,
                      "h": 1659.73,
                      "l": 1652.11,
                      "v": 0
                    },
                    {
                      "t": "1711209600000",
                      "o": 1652.11,
                      "c": 1645.84,
                      "h": 1654.36,
                      "l": 1643.96,
                      "v": 0
                    },
                    {
                      "t": "1711296000000",
                      "o": 1645.84,
                      "c": 1643.3,
                      "h": 1646.94,
                      "l": 1640.26,
                      "v": 0
                    },
                    {
                      "t": "1711382400000",
                      "o": 1643.3,
                      "c": 1646.06,
                      "h": 1647.07,
                      "l": 1642.47,
                      "v": 0
                    },
                    {
                      "t": "1711468800000",
                      "o": 1646.06,
                      "c": 1647.67,
                      "h": 1648.41,
                      "l": 1643.59,
                      "v": 0
                    },
                    {
                      "t": "1711555200000",
                      "o": 1647.67,
                      "c": 1649.89,
                      "h": 1653.02,
                      "l": 1645.52,
                      "v": 0
                    },
                    {
                      "t": "1711641600000",
                      "o": 1649.89,
                      "c": 1647.32,
                      "h": 1651.29,
                      "l": 1644.25,
                      "v": 0
                    },
                    {
                      "t": "1711728000000",
                      "o": 1647.32,
                      "c": 1646,
                      "h": 1650.26,
                      "l": 1642.74,
                      "v": 0
                    },
                    {
                      "t": "1711814400000",
                      "o": 1646,
                      "c": 1644.64,
                      "h": 1648.65,
                      "l": 1641.94,
                      "v": 0
                    },
                    {
                      "t": "1711900800000",
                      "o": 1644.64,
                      "c": 1642.18,
                      "h": 1646.35,
                      "l": 1638.32,
                      "v": 0
                    },
                    {
                      "t": "1711987200000",
                      "o": 1642.18,
                      "c": 1642.26,
                      "h": 1644.53,
                      "l": 1639.67,
                      "v": 0
                    },
                    {
                      "t": "1712073600000",
                      "o": 1642.26,
                      "c": 1651.89,
                      "h": 1657.48,
                      "l": 1642.26,
                      "v": 0
                    },
                    {
                      "t": "1712160000000",
                      "o": 1651.89,
                      "c": 1651.59,
                      "h": 1656.44,
                      "l": 1648.42,
                      "v": 0
                    },
                    {
                      "t": "1712246400000",
                      "o": 1651.59,
                      "c": 1646.19,
                      "h": 1653.68,
                      "l": 1644.23,
                      "v": 0
                    },
                    {
                      "t": "1712332800000",
                      "o": 1646.19,
                      "c": 1650.4,
                      "h": 1650.4,
                      "l": 1646.04,
                      "v": 0
                    },
                    {
                      "t": "1712419200000",
                      "o": 1650.4,
                      "c": 1659.74,
                      "h": 1659.74,
                      "l": 1650.4,
                      "v": 0
                    },
                    {
                      "t": "1712505600000",
                      "o": 1659.74,
                      "c": 1669.55,
                      "h": 1669.55,
                      "l": 1659.74,
                      "v": 0
                    },
                    {
                      "t": "1712592000000",
                      "o": 1669.55,
                      "c": 1677.63,
                      "h": 1677.63,
                      "l": 1669.55,
                      "v": 0
                    },
                    {
                      "t": "1712678400000",
                      "o": 1677.63,
                      "c": 1678.94,
                      "h": 1683.74,
                      "l": 1676.05,
                      "v": 0
                    },
                    {
                      "t": "1712764800000",
                      "o": 1678.94,
                      "c": 1676.11,
                      "h": 1680.88,
                      "l": 1674.57,
                      "v": 0
                    },
                    {
                      "t": "1712851200000",
                      "o": 1676.11,
                      "c": 1672.33,
                      "h": 1676.7,
                      "l": 1669.03,
                      "v": 0
                    },
                    {
                      "t": "1712937600000",
                      "o": 1672.33,
                      "c": 1672.35,
                      "h": 1674.5,
                      "l": 1668.25,
                      "v": 0
                    },
                    {
                      "t": "1713024000000",
                      "o": 1672.35,
                      "c": 1666.17,
                      "h": 1673.99,
                      "l": 1665.45,
                      "v": 0
                    },
                    {
                      "t": "1713110400000",
                      "o": 1666.17,
                      "c": 1653.9,
                      "h": 1667.27,
                      "l": 1653.71,
                      "v": 0
                    },
                    {
                      "t": "1713196800000",
                      "o": 1653.9,
                      "c": 1642.76,
                      "h": 1654.64,
                      "l": 1642.76,
                      "v": 0
                    },
                    {
                      "t": "1713283200000",
                      "o": 1642.76,
                      "c": 1638.93,
                      "h": 1643.06,
                      "l": 1637.55,
                      "v": 0
                    },
                    {
                      "t": "1713369600000",
                      "o": 1638.93,
                      "c": 1639.4,
                      "h": 1642.55,
                      "l": 1637.82,
                      "v": 0
                    },
                    {
                      "t": "1713456000000",
                      "o": 1639.4,
                      "c": 1638.19,
                      "h": 1640.38,
                      "l": 1636.59,
                      "v": 0
                    },
                    {
                      "t": "1713542400000",
                      "o": 1638.19,
                      "c": 1641.32,
                      "h": 1642.46,
                      "l": 1638.19,
                      "v": 0
                    },
                    {
                      "t": "1713628800000",
                      "o": 1641.32,
                      "c": 1643.04,
                      "h": 1644.36,
                      "l": 1641.11,
                      "v": 0
                    },
                    {
                      "t": "1713715200000",
                      "o": 1643.04,
                      "c": 1643.58,
                      "h": 1645.55,
                      "l": 1641.81,
                      "v": 0
                    },
                    {
                      "t": "1713801600000",
                      "o": 1643.58,
                      "c": 1645.21,
                      "h": 1645.36,
                      "l": 1642.78,
                      "v": 0
                    },
                    {
                      "t": "1713888000000",
                      "o": 1645.21,
                      "c": 1645.75,
                      "h": 1646.87,
                      "l": 1643.76,
                      "v": 0
                    },
                    {
                      "t": "1713974400000",
                      "o": 1645.75,
                      "c": 1646.43,
                      "h": 1647.35,
                      "l": 1643.65,
                      "v": 0
                    },
                    {
                      "t": "1714060800000",
                      "o": 1646.43,
                      "c": 1650,
                      "h": 1650,
                      "l": 1643.94,
                      "v": 0
                    },
                    {
                      "t": "1714147200000",
                      "o": 1650,
                      "c": 1659.92,
                      "h": 1659.92,
                      "l": 1650,
                      "v": 0
                    },
                    {
                      "t": "1714233600000",
                      "o": 1659.92,
                      "c": 1664.5,
                      "h": 1664.53,
                      "l": 1659.92,
                      "v": 0
                    },
                    {
                      "t": "1714320000000",
                      "o": 1664.5,
                      "c": 1662.69,
                      "h": 1667.25,
                      "l": 1661.9,
                      "v": 0
                    },
                    {
                      "t": "1714406400000",
                      "o": 1662.69,
                      "c": 1658.69,
                      "h": 1662.93,
                      "l": 1655.42,
                      "v": 0
                    },
                    {
                      "t": "1714492800000",
                      "o": 1658.69,
                      "c": 1659.54,
                      "h": 1662.34,
                      "l": 1657.92,
                      "v": 0
                    },
                    {
                      "t": "1714579200000",
                      "o": 1659.54,
                      "c": 1655.61,
                      "h": 1660.88,
                      "l": 1655.2,
                      "v": 0
                    },
                    {
                      "t": "1714665600000",
                      "o": 1655.61,
                      "c": 1649.24,
                      "h": 1655.97,
                      "l": 1648.55,
                      "v": 0
                    },
                    {
                      "t": "1714752000000",
                      "o": 1649.24,
                      "c": 1642.99,
                      "h": 1649.37,
                      "l": 1642.73,
                      "v": 0
                    },
                    {
                      "t": "1714838400000",
                      "o": 1642.99,
                      "c": 1645.01,
                      "h": 1645.01,
                      "l": 1640.47,
                      "v": 0
                    },
                    {
                      "t": "1714924800000",
                      "o": 1645.01,
                      "c": 1651.47,
                      "h": 1651.47,
                      "l": 1645.01,
                      "v": 0
                    },
                    {
                      "t": "1715011200000",
                      "o": 1651.47,
                      "c": 1656.95,
                      "h": 1656.95,
                      "l": 1651.47,
                      "v": 0
                    },
                    {
                      "t": "1715097600000",
                      "o": 1656.95,
                      "c": 1660.02,
                      "h": 1660.02,
                      "l": 1656.27,
                      "v": 0
                    },
                    {
                      "t": "1715184000000",
                      "o": 1660.02,
                      "c": 1666.09,
                      "h": 1666.09,
                      "l": 1660.02,
                      "v": 0
                    },
                    {
                      "t": "1715270400000",
                      "o": 1666.09,
                      "c": 1673.46,
                      "h": 1673.46,
                      "l": 1666.09,
                      "v": 0
                    },
                    {
                      "t": "1715356800000",
                      "o": 1673.46,
                      "c": 1688.14,
                      "h": 1688.14,
                      "l": 1673.46,
                      "v": 0
                    },
                    {
                      "t": "1715443200000",
                      "o": 1688.14,
                      "c": 1698.93,
                      "h": 1700.48,
                      "l": 1688.14,
                      "v": 0
                    },
                    {
                      "t": "1715529600000",
                      "o": 1698.93,
                      "c": 1689.32,
                      "h": 1700.09,
                      "l": 1688.99,
                      "v": 0
                    },
                    {
                      "t": "1715616000000",
                      "o": 1689.32,
                      "c": 1676.62,
                      "h": 1690.24,
                      "l": 1675.93,
                      "v": 0
                    },
                    {
                      "t": "1715702400000",
                      "o": 1676.62,
                      "c": 1674.55,
                      "h": 1677.94,
                      "l": 1672.29,
                      "v": 0
                    },
                    {
                      "t": "1715788800000",
                      "o": 1674.55,
                      "c": 1678.29,
                      "h": 1678.29,
                      "l": 1673.34,
                      "v": 0
                    },
                    {
                      "t": "1715875200000",
                      "o": 1678.29,
                      "c": 1676.09,
                      "h": 1680.2,
                      "l": 1675.35,
                      "v": 0
                    },
                    {
                      "t": "1715961600000",
                      "o": 1676.09,
                      "c": 1669.34,
                      "h": 1676.12,
                      "l": 1668.37,
                      "v": 0
                    },
                    {
                      "t": "1716048000000",
                      "o": 1669.34,
                      "c": 1660.52,
                      "h": 1669.88,
                      "l": 1660.52,
                      "v": 0
                    },
                    {
                      "t": "1716134400000",
                      "o": 1660.52,
                      "c": 1645.97,
                      "h": 1660.52,
                      "l": 1645.62,
                      "v": 0
                    },
                    {
                      "t": "1716220800000",
                      "o": 1645.97,
                      "c": 1633.12,
                      "h": 1646.3,
                      "l": 1633.12,
                      "v": 0
                    },
                    {
                      "t": "1716307200000",
                      "o": 1633.12,
                      "c": 1624.45,
                      "h": 1633.43,
                      "l": 1622.21,
                      "v": 0
                    },
                    {
                      "t": "1716393600000",
                      "o": 1624.45,
                      "c": 1619.56,
                      "h": 1625.64,
                      "l": 1619.24,
                      "v": 0
                    },
                    {
                      "t": "1716480000000",
                      "o": 1619.56,
                      "c": 1613.22,
                      "h": 1624.32,
                      "l": 1610.42,
                      "v": 0
                    },
                    {
                      "t": "1716566400000",
                      "o": 1613.22,
                      "c": 1627.05,
                      "h": 1627.05,
                      "l": 1613.22,
                      "v": 0
                    },
                    {
                      "t": "1716652800000",
                      "o": 1627.05,
                      "c": 1638.31,
                      "h": 1638.31,
                      "l": 1627.05,
                      "v": 0
                    },
                    {
                      "t": "1716739200000",
                      "o": 1638.31,
                      "c": 1637.44,
                      "h": 1640.27,
                      "l": 1636.9,
                      "v": 0
                    },
                    {
                      "t": "1716825600000",
                      "o": 1637.44,
[...]
